@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.arrow {
    text-align: center;
    font-size: 50px;
    color: bisque;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cardscontainer {
    padding: 40px;
    display: flex;
}

.text {
    display: flex;
    align-items: center;
    text-align: center;
}

.card {
    width: 70%;
}

.card-link {
    text-decoration: none;
    text-align: end;
    color: bisque;
    height: 10px;
}


.card-img-top {
    height: 350px;
}

.col {
    display: flex;
    justify-content: center;
    padding: 5px;

}

.container {
    padding-bottom: 150px;
    max-width: 120%;
    padding: 0px 0px;
    background-color: #181a1b;
}

.textContainer {
    background-color: #181a1b;
    padding: 0px 0px;
    display: flex;
    text-align: center;
}

.text1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    font-style: oblique;
    font-family: 'Kanit', sans-serif;
}

.text2 {
    margin-top: 50px;
    font-size: 170%;
    padding: 10px;
    padding-bottom: 30px;
    margin-left: 20px;
    color: bisque;
    text-align: center;
}



.footer {
    background-color: black;
    display: flex;
    justify-content: center;

}