@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200;1,300&display=swap');

/*  font-family: 'Mitr', sans-serif; 
    font-family: 'Kanit', sans-serif;*/

.collapse{
    display: flex;
    justify-content: end;
    margin-right: 40px;
}

.navbar{
    font-size: 25px;
    color: white;
    background-color: #333;
}
.category{
    background-color: rgb(152, 116, 72);
    text-decoration: none;
}

.navbar-brand{
    font-size: 35px;

}

.nav-item :hover{
    color: bisque;
    transform: scaleY(25px);
    transition: 0.5s ease;
}

